@import "Styles/variables";

.loader {
	position: relative;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	@include center;
	transform: scale(2.5);
	&>.loader-star {
		position: absolute;
		height: 100%;
		width: 100%;
		transform: scale(0.7);
		animation: loader-star 1s ease alternate infinite;
	}
	&> .loader-circles {
		width: 8px;
		height: 8px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		left: calc(50% - 4px);
		top: calc(50% - 4px);
		transition: all 1s ease;
		animation: loader-circles 1s ease-in-out alternate infinite;
	}
 }

 @keyframes loader-circles {
	0% {
			box-shadow: 0 0 0 #fff;
			opacity: 1;
			transform: rotate(0deg);
	}
	50% {
			box-shadow: 24px -22px #fff, 30px -15px 0 -3px #fff, 31px 0px #fff, 29px 9px 0 -3px #fff, 24px 23px #fff, 17px 30px 0 -3px #fff, 0px 33px #fff, -10px 28px 0 -3px #fff, -24px 22px #fff, -29px 14px 0 -3px #fff, -31px -3px #fff, -30px -11px 0 -3px #fff, -20px -25px #fff, -12px -30px 0 -3px #fff, 5px -29px #fff, 13px -25px 0 -3px #fff;
			transform: rotate(180deg);
	}
	100% {
			opacity: 0;
			transform: rotate(360deg);
			box-shadow: 25px -22px #fff, 15px -22px 0 -3px black, 31px 2px #fff, 21px 2px 0 -3px black, 23px 25px #fff, 13px 25px 0 -3px black, 0px 33px #fff, -10px 33px 0 -3px black, -26px 24px #fff, -19px 17px 0 -3px black, -32px 0px #fff, -23px 0px 0 -3px black, -25px -23px #fff, -16px -23px 0 -3px black, 0px -31px #fff, -2px -23px 0 -3px black;
	}
}

@keyframes loader-star {
	0% {
			transform: scale(0) rotate(0deg);
	}
	100% {
			transform: scale(0.7) rotate(360deg);
	}
}