@import "Styles/variables.scss";

.menu {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	@include center;
	z-index: 2;
	flex-direction: column;
	text-align: center;
	pointer-events: none;
	visibility: hidden;
	transition: visibility 0s 4s;
	&.open {
		pointer-events: all;
		visibility: visible;
		transition: visibility 0s 0s;
	}
}