@import "Styles/variables.scss";

.poster > article {
	&>.poster-text {
		width: 90%;
		opacity: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		position: relative;
		align-items: flex-start;
		justify-content: center;
		margin: 20px 0 30px 0;
		transform: translateY(100%);
		transition: all 0.5s 0s cubic-bezier(0.65, 0, 0.35, 1);
		&>p {
			margin: 0;
			color: #fff;
			width: 100%;
			font-weight: 200;
			transition-duration: 0.5s;
			font-size: min(5.5vw, 30px);
			text-shadow: 0px 1.5px 2.5px rgba(#000, 0.75), 0px 2.5px 7.5px rgba(#000, 0.75), 0px 1px 2.5px rgba(#000, 0.75);
			@media #{$mq-800} {
				width: 46%;
				font-size: min(3vw, 22.5px);
				text-shadow: 0px 0px 5px rgba(#000, 0.5), 0px 2.5px 7.5px rgba(#000, 0.5), 0px 2.5px 2.5px rgba(#000, 0.5);
			}
			@media #{$mq-1150} {
				font-size: min(2.5vw, 25px);
				text-shadow: 0px 0px 5px rgba(#000, 0.5), 0px 2.5px 7.5px rgba(#000, 0.5), 0px 2.5px 2.5px rgba(#000, 0.5);
			}
			&:last-of-type {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				transform: translateY(100%);
				@media #{$mq-800} {
					margin-left: 2%;
					display: initial;
					position: static;
					opacity: 1;
					transform: translateY(0%);
				}
			}
			&:first-of-type {
				@media #{$mq-800} {
					margin-right: 2%;
				}
			}
		}
		&.expanded {
			& > p:first-of-type {
				transform: translateY(100%);
				opacity: 0;
			}
			& > p:last-of-type {
				opacity: 1;
				transform: translateY(0%);
			}
		}
	}
	&>.poster-links {
		width: 90%;
		@include center;
		margin-bottom: 40px;
		z-index: 2;
		&>.outline-button {
			font-size: 1em;
			color: transparent;
			text-shadow: none;
			&:nth-of-type(1) {
				@media #{$mq-800} {
					display: none;
				}
			}
			&:nth-of-type(2) {
				margin-left: 15%;
				@media #{$mq-800} {
					margin-left: 0;
				}
			}
			&:after,
			&:before {
				transform: scaleX(0);
				transform-origin: 0% 50%;
				transition: height 0.4s, transform 0.4s;
			}
			&::after {
				transform-origin: 100% 50%;
			}
			&> div {
				padding: 15px 35px;
				&:after,
				&:before {
					transform: scaleY(0);
					transform-origin: 50% 0%;
					transition: height 0.4s, transform 0.4s;
				}
				&::after {
					transform-origin: 50% 100%;
				}
			}
		}
	}
}

.page.work.active .poster.active > article {
	&>.poster-text {
		opacity: 1;
		transform: translateY(0%);
		transition: all 1s cubic-bezier(0.65, 0, 0.35, 1);
	}
	&>.poster-links > .outline-button {
		color: #fff;
		pointer-events: none;
		text-shadow: 0px 1.5px 2.5px rgba(#000, 0.8), 0px 0px 4px rgba(#000, 0.5);
		transition: transform 0.5s 0s, box-shadow 0.5s 0s, color 0.3s 0.1s, text-shadow 0.7s 2.7s, color 0.7s 2.7s;
		&:after,
		&:before {
			transform: scaleX(1);
			transition: height 0.4s, transform 0.4s 2s;
		}
		&>div {
			&:after,
			&:before {
				transform: scaleY(1);
				transition: transform 0.4s 2.4s;
			}
		}
		&:hover {
			color: #000;
			text-shadow: none;
			transition: transform 0.5s 0s, box-shadow 0.5s 0s, color 0.3s 0s, text-shadow 0.3s 0s;
		}
	}
	&>.poster-links.reset > .outline-button {
		color: #fff;
		pointer-events: auto;
		transition: transform 0.5s 0s, box-shadow 0.5s 0s, color 0.3s 0.1s, text-shadow 0.3s 0.1s;
		&:hover {
			color: #000;
			text-shadow: none;
			transition: transform 0.5s 0s, box-shadow 0.5s 0s, color 0.3s 0s, text-shadow 0.3s 0s;
		}
	}
}

