@import "Styles/variables.scss";

.screen {
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	@include center;
  perspective: 1600px;
	will-change: transform;
	transition: transform $smallScreenTransition cubic-bezier(0.65, 0, 0.35, 1);
	@media #{$mq-957} {
		transition: transform $largeScreenTransition cubic-bezier(0.65, 0, 0.35, 1);
	}
	&>.inner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;
		transition: transform $screenInnerTransition;
		will-change: transform;
		&>.front,
		&>.back {
			position: absolute;
			height: 100%;
			width: 100%;
			overflow: hidden;
			backface-visibility: hidden;
			box-shadow: 0px 2.5px 5px rgba(#000, 0.2), 0px 10px 35px rgba(#000, 0.3);
		}
		&>.back {
			transform: rotateY(180deg);
			z-index: 2;
			@media #{$mq-670} {
				transform: rotateX(180deg);
			}
		}
	}
	&.shrink {
		transform: scale(0.75);
		@media #{$mq-957} {
			transform: scale(0.6);
		}
		&.flip > .inner {
			transform: rotateY(180deg);
			@media #{$mq-957} {
				transform: rotateX(180deg);
			}
		}
	}
}

/* Animation Controller */
.screen > .inner > .front {
	&> .page > div {
		transition: transform 0.5s 1.5s cubic-bezier(0.65, 0, 0.35, 1), opacity 0.5s 1.5s cubic-bezier(0.65, 0, 0.35, 1), visibility 0s 0s;
	}
	&.menu-open >.page {
		pointer-events: none;
		&>div {
			opacity: 0;
			visibility: hidden;
			transform: scale(0.5);
			transition: transform 0.5s cubic-bezier(0.65, 0, 0.35, 1), opacity 0.5s 0s, visibility 0s 0.75s;
		}
	}
	&> .menu-button {
		position: fixed;
		top: 15px;
		right: 15px;
		z-index: 2;
		transform: scale(0);
		transition: transform 0s 0s;
		@media #{$mq-670} {
			transform: scale(0) translateX(-15%) translateY(10%);
			&>.burger {
				transform: scale(1.2) translateX(-15%) translateY(10%);
			}
		}
		&.active {
			transform: scale(1);
			transition: transform 0.5s 3.5s cubic-bezier(0.34, 1.56, 0.64, 1);
		}
	}
}