@import "Styles/variables.scss";

.alex-text {
	@include center;
	flex-direction: column;
	&>h1 {
		@include center;
		font-weight: 900;
		margin: -20px 0;
		color: #fff;
		letter-spacing: -7.5px;
		font-size: 115px;
		perspective: 1000px;
		transform: rotateX(-30deg) rotateY(30deg) rotateZ(10deg);
		text-shadow: 0px 5px 10px rgba(#000, 0.5), 0px 0px 30px rgba(#000, 0.4);
		@media #{$mq-670} {
			margin: -25px 0;
			letter-spacing: -12.5px;
			font-size: 150px;
			text-shadow: 0px 7.5px 15px rgba(#000, 0.5), 0px 0px 40px rgba(#000, 0.4);
		}
		@media #{$mq-957} {
			margin: -35px 0;
			font-size: 180px;
			letter-spacing: -15px;
			text-shadow: 0px 10px 20px rgba(#000, 0.5), 0px 0px 50px rgba(#000, 0.4);
		}
		@media #{$mq-1150} {
			margin: -45px 0;
			font-size: 210px;
			letter-spacing: -17.5px;
			text-shadow: 0px 12.5px 25px rgba(#000, 0.5), 0px 0px 60px rgba(#000, 0.4);
		}
		@media #{$mq-1350} {
			margin: -45px 0;
			font-size: 220px;
			letter-spacing: -20px;
			text-shadow: 0px 15px 30px rgba(#000, 0.5), 0px 0px 70px rgba(#000, 0.4);
		}
		&:last-of-type {
			margin-bottom: 0;
		}
		&>div {
			opacity: 0;
			will-change: opacity, transform;
			&.active {
				opacity: 1;
			}
		}
	}
}