@import "Styles/variables.scss";

.alex-text {
	@include center;
	flex-direction: column;
	@media #{$mq-957} {
		margin-top: -6%;
	}
	&>h1 {
		@include center;
		font-weight: 900;
		color: #fff;
		margin: -5vw 0;
		letter-spacing: -2vw;
		font-size: 25vw;
		perspective: 1000px;
		transform: rotateX(-30deg) rotateY(30deg) rotateZ(10deg);
		text-shadow: 0px 5px 10px rgba(#000, 0.5), 0px 0px 30px rgba(#000, 0.4);
		@media #{$mq-670} {
			margin: -3.5vw 0;
			letter-spacing: -1vw;
			font-size: 20vw;
			text-shadow: 0px 7.5px 15px rgba(#000, 0.5), 0px 0px 40px rgba(#000, 0.4);
		}
		@media #{$mq-890} {
			margin: -3vw 0;
			letter-spacing: -1.5vw;
			font-size: 17.5vw;
			text-shadow: 0px 7.5px 15px rgba(#000, 0.5), 0px 0px 40px rgba(#000, 0.4);
		}
		@media #{$mq-957} {
			text-shadow: 0px 10px 20px rgba(#000, 0.5), 0px 0px 50px rgba(#000, 0.4);
		}
		@media #{$mq-1150} {
			margin: -2.8vw 0;
			letter-spacing: -1.5vw;
			font-size: min(16vw, 230px);
			text-shadow: 0px 12.5px 25px rgba(#000, 0.5), 0px 0px 60px rgba(#000, 0.4);
		}
		@media #{$mq-1350} {
			text-shadow: 0px 15px 30px rgba(#000, 0.5), 0px 0px 70px rgba(#000, 0.4);
		}
		&:first-of-type {
			margin-top: 0;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
		&>.text-letter {
			opacity: 0;
			will-change: opacity, transform;
			transform: scale(0) rotateX(180deg) translateY(-150%);
		}
	}
}

.home .alex-text > #alex > .text-letter  {
	&:nth-of-type(1) {
		transition: opacity 0.5s 950ms, transform 1.25s 150ms cubic-bezier(0.36, 0, 0.66, -0.56);
	}
	&:nth-of-type(2) {
		transition: opacity 0.5s 900ms, transform 1.25s 100ms cubic-bezier(0.36, 0, 0.66, -0.56);
	}
	&:nth-of-type(3) {
		transition: opacity 0.5s 850ms, transform 1.25s 50ms cubic-bezier(0.36, 0, 0.66, -0.56);
	}
	&:nth-of-type(4) {
		transition: opacity 0.5s 800ms, transform 1.25s 0s cubic-bezier(0.36, 0, 0.66, -0.56);
	}
}

.home .alex-text > #figliolia > .text-letter {
	&:nth-of-type(1) {
		transition: opacity 0.5s 1200ms, transform 1.25s 400ms cubic-bezier(0.36, 0, 0.66, -0.56);
	}
	&:nth-of-type(2) {
		transition: opacity 0.5s 1150ms, transform 1.25s 350ms cubic-bezier(0.36, 0, 0.66, -0.56);
	}
	&:nth-of-type(3) {
		transition: opacity 0.5s 1100ms, transform 1.25s 300ms cubic-bezier(0.36, 0, 0.66, -0.56);
	}
	&:nth-of-type(4) {
		transition: opacity 0.5s 1050ms, transform 1.25s 250ms cubic-bezier(0.36, 0, 0.66, -0.56);
	}
	&:nth-of-type(5) {
		transition: opacity 0.5s 1s, transform 1.25s 200ms cubic-bezier(0.36, 0, 0.66, -0.56);
	}
	&:nth-of-type(6) {
		transition: opacity 0.5s 950ms, transform 1.25s 150ms cubic-bezier(0.36, 0, 0.66, -0.56);
	}
	&:nth-of-type(7) {
		transition: opacity 0.5s 900ms, transform 1.25s 100ms cubic-bezier(0.36, 0, 0.66, -0.56);
	}
	&:nth-of-type(8) {
		transition: opacity 0.5s 850ms, transform 1.25s 50ms cubic-bezier(0.36, 0, 0.66, -0.56);
	}
	&:nth-of-type(9) {
		transition: opacity 0.5s 800ms, transform 1.25s 0s cubic-bezier(0.36, 0, 0.66, -0.56);
	}
}

.home.active .alex-text > #alex > .text-letter {
	&:nth-of-type(1) {
		transition: opacity 1s 300ms, transform 1.75s 300ms cubic-bezier(0.34, 1.56, 0.64, 1); 
	}
	&:nth-of-type(2) {
		transition: opacity 1s 250ms, transform 1.75s 250ms cubic-bezier(0.34, 1.56, 0.64, 1); 
	}
	&:nth-of-type(3) {
		transition: opacity 1s 200ms, transform 1.75s 200ms cubic-bezier(0.34, 1.56, 0.64, 1); 
	}
	&:nth-of-type(4) {
		transition: opacity 1s 150ms, transform 1.75s 150ms cubic-bezier(0.34, 1.56, 0.64, 1); 
	}
}

.home.active .alex-text > #figliolia > .text-letter {
	&:nth-of-type(1) {
		transition: opacity 1s 550ms, transform 1.75s 550ms cubic-bezier(0.34, 1.56, 0.64, 1); 
	}
	&:nth-of-type(2) {
		transition: opacity 1s 500ms, transform 1.75s 500ms cubic-bezier(0.34, 1.56, 0.64, 1); 
	}
	&:nth-of-type(3) {
		transition: opacity 1s 450ms, transform 1.75s 450ms cubic-bezier(0.34, 1.56, 0.64, 1); 
	}
	&:nth-of-type(4) {
		transition: opacity 1s 400ms, transform 1.75s 400ms cubic-bezier(0.34, 1.56, 0.64, 1); 
	}
	&:nth-of-type(5) {
		transition: opacity 1s 350ms, transform 1.75s 350ms cubic-bezier(0.34, 1.56, 0.64, 1); 
	}
	&:nth-of-type(6) {
		transition: opacity 1s 300ms, transform 1.75s 300ms cubic-bezier(0.34, 1.56, 0.64, 1); 
	}
	&:nth-of-type(7) {
		transition: opacity 1s 250ms, transform 1.75s 250ms cubic-bezier(0.34, 1.56, 0.64, 1); 
	}
	&:nth-of-type(8) {
		transition: opacity 1s 200ms, transform 1.75s 200ms cubic-bezier(0.34, 1.56, 0.64, 1); 
	}
	&:nth-of-type(9) {
		transition: opacity 1s 150ms, transform 1.75s 150ms cubic-bezier(0.34, 1.56, 0.64, 1); 
	}
}

.home.active .alex-text > h1 > .text-letter {
	opacity: 1;
	transform: scale(1) rotateX(0deg) translateY(0%);
}