@import "Styles/variables.scss";

.alex-text {
	@include center;
	flex-direction: column;
	@media #{$mq-957} {
		margin-top: -6%;
	}
	&>h1 {
		@include center;
		font-weight: 900;
		color: #fff;
		margin: -5vw 0;
		letter-spacing: -2vw;
		font-size: 25vw;
		perspective: 1000px;
		transform: rotateX(-30deg) rotateY(30deg) rotateZ(10deg);
		text-shadow: 0px 5px 10px rgba(#000, 0.5), 0px 0px 30px rgba(#000, 0.4);
		@media #{$mq-670} {
			margin: -3.5vw 0;
			letter-spacing: -1vw;
			font-size: 20vw;
			text-shadow: 0px 7.5px 15px rgba(#000, 0.5), 0px 0px 40px rgba(#000, 0.4);
		}
		@media #{$mq-890} {
			margin: -3vw 0;
			letter-spacing: -1.5vw;
			font-size: 17.5vw;
			text-shadow: 0px 7.5px 15px rgba(#000, 0.5), 0px 0px 40px rgba(#000, 0.4);
		}
		@media #{$mq-957} {
			text-shadow: 0px 10px 20px rgba(#000, 0.5), 0px 0px 50px rgba(#000, 0.4);
		}
		@media #{$mq-1150} {
			margin: -2.8vw 0;
			letter-spacing: -1.5vw;
			font-size: min(16vw, 230px);
			text-shadow: 0px 12.5px 25px rgba(#000, 0.5), 0px 0px 60px rgba(#000, 0.4);
		}
		@media #{$mq-1350} {
			text-shadow: 0px 15px 30px rgba(#000, 0.5), 0px 0px 70px rgba(#000, 0.4);
		}
		&:first-of-type {
			margin-top: 0;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
		&>div {
			opacity: 0;
			will-change: opacity, transform;
			&.active {
				opacity: 1;
			}
		}
	}
}