@import "Styles/variables.scss";

.page.home {
	@include center;
	text-align: center;
	perspective: 1000px;
	user-select: none;
	height: 100%;
	width: 100%;
	&>div {
		@include center;
		flex-direction: column;
	}
}