@import "Styles/variables.scss";

.page {
	background: url("Images/background-small.webp") no-repeat center;
	background-size: cover;
	@media #{$mq-670} {
		background: url("Images/background-large.webp") no-repeat center;
		background-size: cover;
	}
}