@import "Styles/variables.scss";

.screen-loader {
	height: 100vh;
	width: 100%;
	@include center;
	background: url("Images/background-small.webp") no-repeat center;
	background-size: cover;
	transform: scaleX(-1);
	@media #{$mq-670} {
		background: url("Images/background-large.webp") no-repeat center;
		background-size: cover;
	}
}